cookies.txt
hts-cache/
wedding-invi.jp/upload_data/welcome_board_image_nfs/
*.log
*.zip

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Node.js
node_modules/
npm-debug.log*

# Secrets
.env
.env.local
